.param_slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5em;
}
#wsm_results { padding: 0 1em; }
#wsm_results ol { text-align: left; }
#wsm_results li { display: flex; justify-content: space-between; }
#wsm_results li a { cursor: pointer; margin-left: 1em; }
.match >.popup {
  display: none;
  position: absolute;
  border: 1px solid black;
  border-radius: 0.5em;
  background-color: bisque;
  padding: 0.2em 0.4em;
}
.match:hover >.popup {
  display: inline;
  text-align: left;
  font-weight: normal;
}
k