#ds_selector_wrapper { padding: 1em 0; }
input[type="range"] {
  width: 17em;
  margin-bottom: 0.75em;
  display: block;
}
.param { margin: auto; }
#main_content {
  display: flex;
  flex-flow: column;
}
#bl_methods_container {
  display: inline-flex;
  flex-flow: row wrap;
  padding: 1em 0 0.5em 0;
}
#fig_container {
  padding: 0.5em 0 1em 0;
  width: 100%;
  max-width: 800px;
  align-self: center;
}
#bl_options {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 600px;
}
.bl_chunk {
  display: inline-flex;
  flex-flow: column;
  flex: 1 0 auto;
  justify-content: flex-end;
  text-align: center;
  margin: 0 1em 1em 0;
  min-width: 15em;
  padding: 3px;
  border-radius: 6px;
  background-color: #f5c2b2;
}
