{% extends "_common.html" %}

{% block body_matter %}
<nav class="index">
{% for title, link, desc in subpage_info %}
  <a href='{{link}}' class="subpage"><p>
    <span class='subpage_title'>{{title}}</span>
    {{desc}}
  </p></a>
{% end %}
</nav>

<aside class="related-sites">
  <h2>Related Sites</h2>
  <nav class="index">
  <a href='https://happyhapke.mtholyoke.edu/' class="related-site"><p>
    <span class='subpage_title'>Happy Hapke</span>
    Calculate optical constants.
  </p></a>
  <a href='https://mossbauer.mtholyoke.edu' class="related-site"><p>
    <span class='subpage_title'>Mössbauer Data Explorer</span>
    Multiple file formats and display options.
  </p></a>
  <a href='https://polyreg.mtholyoke.edu' class="related-site"><p>
    <span class='subpage_title'>Cross-Validated Polynomial Regression</span>
    Univariate regression.
  </p></a>
  </nav>
</aside>

<footer>
<hr>
<p>Use of original data or images from this site requires written permission. By accessing this database, users consent to use this database and software solely for informational purposes. Selling, distributing, publishing, circulating, or commercially exploiting the data in this database without the express written permission of the owners of the data is expressly prohibited. Use of this database and software shall not convey any ownership right, title or interest, nor any security or other interest in any intellectual property rights relating to the database and software, nor in any copy of any part of the database and software.</p>
{% if logged_in %}
Source code available on
<a href='https://github.com/mtholyoke/devas-web'>Github</a>.<br />
<a href='/login?logout=1'>Log out</a>
{% else %}
<a href='/login?next=/'>Log in</a> to view non-public data.
{% end %}
</footer>
{% end %}
