{% extends "_common.html" %}
{% block head_matter %}
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script src="static/pages/search.js"></script>
<link rel="stylesheet" href="static/pages/search.css" type="text/css">
{% end %}
{% block body_matter %}
<div id="wrapper">
<form onsubmit="return false;">

<div><label>Search query:
<input type="text" name="query" placeholder='mineral OR "dana number"'>
</label></div>

<div><label>Case sensitive:
<input type="checkbox" name="case_sensitive">
</label></div>

<div><label>Search within metadata:
<input type="checkbox" name="full_text">
</label></div>

<div><label>Spectrum kind:
<select id="ds_kind" multiple data-placeholder="any">
{% for kind in ds_kinds %}
  <option value="{{kind}}">{{kind}}</option>
{% end %}
</select></label></div>

<button onclick="do_search();">
  Search<span class="wait">ing...</span>
</button>
<span class="err_msg"></span>
</form>

<div id="search_result"></div>
</div>
{% end %}
